@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;400&display=swap');
body{
    background-color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 20px;
    color: #373867;
    width: 80%;
    float: right;
}
h2{
    text-transform: uppercase;
}
#section-small-1{
    height: 847px;
}
#section-small-2{
    height: 864,5px;
}
.section-space{
    width: 1234px;
    height: 981px;
}
header{
    background-color: #373867;
    color: #AACE9B;
    position: relative;
    margin-top: 0;
    margin-right: 0;
    height: 135px;
}
h1{
    font-size: 40px;
    text-transform: uppercase;
    position: absolute;
    top: 35px;
    bottom: 55px;
    left: 310px;
    font-weight: 700;
    line-height: 47px;
}
header img{
    position: relative;
    height:45px;
    width: 233.32px;
    left: 50px;
    top: 45px;
    bottom: 45px;
}
aside{
    font-family: 'Roboto';
    background-color: #AACE9B;
    bottom: 0;
    top: 0;
    left: 0;
    width: 20%;
    position: fixed;
}
aside a{
    color: #373867;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}
aside li{
    text-align: justify;
}
.sidebar-logo{
position:relative;
margin-top: 43px;
margin-left: 95px;
margin-right: 105px;
}
.nav-links{
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    background-color: #EBECF0;
    color:#373867;
    height: 69.96991729736328px;
    width: 205px;
    border-radius: 5px;
    border: 1px solid #373867;
    padding: 14px 36px 14px 36px;
}
#button-home{
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
    background-color: #373867;
    color:#F7FBF5;
    height: 69.96991729736328px;
    border-radius: 5px;
    padding: 14px 36px 14px 36px;
}
.sidebar-list{
    margin-top: 337,13px;
    margin-bottom: 41,1px;
    padding: 14px 36px 14px 36px;
}
aside h2{
    position: relative;
    margin-left: 29px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
}
.other-options-li a{
    position: relative;
    margin-left: 36px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-decoration: none;
}
.mail-maps-li a{
    position: relative;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    margin-left: 12px;
}
aside ul li img{
    margin-left: 36px;
    margin-top: 16px;
}
.main-reason-h2{
    position: relative;
    width: 431px;
    height: 59px;
    left: 68px;
    top: 68px;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    z-index: 2;
}
.main-reason-text{
    position: relative;
    width: 431px;
    height: 287px;
    left: 74px;
    top: 75px;
    display: inline-block;
    margin: 0;
    z-index: 2;
    font-weight: 600;
}
.main-reason-img{
    position: absolute;
    height: 684px;
    width: 810px;
    left: 729px;
    top: 226px;
    z-index: 1;
}
.color-line{
    position: relative;
    width: 1019px;
    height: 0px;
    left: 91px;
    top: 0;
    background: #373867;
    border: 3px solid #373867;
}
/*revisado hacia arriba*/
.how-can-we-help-img{
    position: absolute;
    height: 876px;
    width: 1122px;
    left: 366px;
    top: 1022px;
    z-index: 0;
}
.how-can-we-help-h2{
    position: relative;
    margin-left: 0px;
    padding-top: 164px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #EBECF0;
}
#how-can-we-help-display p{
    padding-top: 25px;
    position: relative;
    height: 107px;
    width: 30%;
    z-index: 3;
    background-color: #EBECF0;
    border: 1px solid #373867;
    border-radius: 5px;
    color: #373867;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
    display: inline-table;
}
.position-p1{
    position: relative;
    margin-left: 169px;
    margin-top: 91px;
    line-height: 35.16px;
}
.position-p2{
    position: relative;
    margin-left: 154px;
    margin-top: 91px;
    line-height: 35.16px;
}
.position-p3{
    position: relative;
    margin-left: 169px;
    margin-top: 182px;
    line-height: 35.16px;
}
.position-p4{
    position: relative;
    margin-left: 154px;
    margin-top: 182px;
    line-height: 35.16px;
}
#contact{
    position: relative;
    padding-top: 49.5px;
    margin-left: 74px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}
#contact img{
    width: 37.33px;
    height: 30.55px;
    margin-left: 20px;
}
form{
    margin-left: 79px;
}
form p{
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    margin-top: 32px;
    margin-bottom: 24px;
}
label{
    margin-top: 23px;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    display: inline-block;
    width: 100%;
}
label input{
    margin-left: 32px;
}
#surname{
    margin-left: 58px;
}
input[type="text"]{
    margin-left: 96px;
    height: 45px;
    width: 293px;
    border-radius: 20px;
    border: 1px solid #373867;
}
::placeholder{
    padding-left: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 17.58px;
    color: rgba(55, 56, 103, 0.43);
}
input[type="radio"]{
    position: relative;
    margin-left: 0;
    margin-right: 33px;
    cursor: pointer;
    border: #34636E;
}
.label-position-radio{
    margin-top: 8px;
}
.message{
    margin-top: 65px;
    margin-bottom: 10px;
}
textarea{
    height: 174.7603302001953px;
    width: 917px;
    border-radius: 4px;
    resize: none;
    border: 1px solid #E0E0E0;
}
input[type="submit"]{
    display: inline-block;
    position: absolute;
    margin-top: 202px;
    margin-left: -920px;
    height: 47px;
    width: 178px;
    border-radius: 5px;
    padding: 14px 36px 14px 36px;
    background: #AACE9B;
    border-color: #AACE9B;
    border-style: none;
}
input[type="reset"]{
    margin-top: 20px;
    margin-left: 230px;
    display: inline-block;
    position: relative;
    padding: 14px 36px;
    background: #FFFFFF;
    border: 1px solid #373867;
    border-radius: 5px;
}
.our-history-img{
    position: absolute;
    width: 1094px;
    height: 765px;
    left: 342px;
    top: 3071px;
    z-index: 0;
}
.our-history-h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    position: relative;
    padding-top: 48px;
    padding-bottom: 19px;
    margin-left: 67px;
}
.our-history-p{
    position: absolute;
    width: 804px;
    height: 322px;
    left: 493px;
    top: 3320px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;
    color: #FFFFFF;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}