@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;400&display=swap');
body {
    width: 100vw;
    background-color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 20px;
    color: #373867;
    float: right;
}
main {
    margin-left:20vw;
}
h3 {
    padding-bottom: 10px;
    margin-top: -15px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
}
h3 img {
    padding-right: 41.85px;
    padding-bottom: -25px;
}
h2 {
    text-transform: uppercase;
}
.section-space {
    position: relative;
    width: 80vw;
    height: 981px;
}
#section-small-first {
    height: 847px;
}
#section-small-second {
    height: 951px;
}
.color-line {
    margin: auto;
    width: 1016px;
    height: 6px;
    background: #373867;
}
header {
    position: relative;
    margin-top: 0;
    margin-right: 0;
    margin-left:20vw;
    height: 135px;
    background-color: #373867;
    color: #AACE9B;
}
header img {
    position: relative;
    height:45px;
    width: 233.32px;
    left: 50px;
    top: 45px;
    bottom: 45px;
}
h1 {
    position: absolute;
    top: 35px;
    bottom: 55px;
    left: 310px;
    font-weight: 700;
    line-height: 47px;
    font-size: 40px;
    text-transform: uppercase;
}
aside {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    width: 20;
    background-color: #AACE9B;
}
aside a {
    display: inline-block;
    color: #373867;
    text-decoration: none;
    cursor: pointer;
}
aside li {
    text-align: justify;
}
nav {
    width: fit-content;
    margin-left: 30px;
}
aside h2 {
    position: relative;
    margin-top: 35px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
}
aside ul li img {
    margin-left: 36px;
    margin-top: 16px;
}
.sidebar-logo {
    position:relative;
    margin-top: 20px;
    margin-left: 95px;
    margin-right: 105px;
}
.sidebar-list a {
    position: relative;
    width: 32.5%;
    margin-top: 41px;
    padding: 23px 71px;
    background-color: #EBECF0;
    border-radius: 5px;
    border: 1px solid #373867;
    font-style: normal;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    color:#373867;
}
#button-home {
    background-color: #373867;
    font-weight: 700;
    color:#F7FBF5;
}
.other-options-list a {
    position: relative;
    margin-top: 10px;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
}
.mail-maps-list a {
    position: relative;
    margin-left: 12px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}
.position-h2 {
    position: relative;
    margin-left: 68px;
    width: 431px;
    height: 59px;
    top: 68px;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    z-index: 2;
}
.main-reason-text-position {
    display: inline-block;
    position: relative;
    width: 431px;
    height: 287px;
    left: 74px;
    top: 75px;
    margin: 0;
    z-index: 2;
    font-weight: 600;
}
#section-small-first img {
    position: absolute;
    height: 684px;
    width: 750px;
    left: 407px;
    top: 91px;
    z-index: 1;
}
.how-can-we-help img {
    position: absolute;
    height: 876px;
    width: 1122px;
    left: 71px;
    top: 40px;
    z-index: 0;
}
.how-can-we-help h2 {
    position: absolute;
    margin-left: 355px;
    width: 500px;
    padding-top: 164px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #EBECF0;
}
#how-can-we-help-display{
    position: absolute;
    margin-top: 200px;
}
#how-can-we-help-display p {
    display: inline-table;
    position: relative;
    padding-top: 25px;
    height: 107px;
    width: 30%;
    background-color: #EBECF0;
    border: 1px solid #373867;
    border-radius: 5px;
    color: #373867;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    z-index: 3;
}
.position-p1 {
    margin-left: 169px;
    margin-top: 91px;
    line-height: 35.16px;
}
.position-p2 {
    margin-left: 154px;
    margin-top: 91px;
    line-height: 35.16px;
}
.position-p3 {
    margin-left: 169px;
    margin-top: 182px;
    line-height: 35.16px;
}
.position-p4 {
    margin-left: 154px;
    margin-top: 182px;
    line-height: 35.16px;
}
.contact {
    position: relative;
    padding-top: 49.5px;
    margin-left: 74px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}
.contact img {
    width: 37.33px;
    height: 30.55px;
    margin-left: 20px;
}
form {
    margin-left: 79px;
}
form p {
    margin-top: 32px;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
}
label {
    display: inline-block;
    width: 100%;
    margin-top: 23px;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
}
label input {
    margin-left: 32px;
}
#surname {
    margin-left: 58px;
}
input[type="text"] {
    margin-left: 96px;
    height: 45px;
    width: 293px;
    border-radius: 20px;
    border: 1px solid #373867;
}
::placeholder {
    padding-left: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 17.58px;
    color: rgba(55, 56, 103, 0.43);
}
input[type="radio"] {
    margin: 0;
    margin-right: 33px;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 1px solid #373867;
    border-radius: 50%;
    appearance: none;
    font: inherit;
    color: currentColor;
    cursor: pointer;
}
input[type="radio"]:checked {
    border: 3px solid #373867;
}
.label-position-radio {
    margin-top: 8px;
}
.message {
    margin-top: 65px;
    margin-bottom: 10px;
}
textarea {
    height: 174.7603302001953px;
    width: 90%;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    resize: none;
}
textarea::placeholder {
    padding-left: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 17.58px;
    color: rgba(55, 56, 103, 0.43);
}
input[type="submit"] {
    display: inline-block;
    position: relative;
    height: 47px;
    width: 178px;
    padding: 14px 36px 14px 36px;
    background: #AACE9B;
    border-radius: 5px;
    border-color: #AACE9B;
    border-style: none;
    color:#373867;
    cursor: pointer;
}
input[type="reset"] {
    display: inline-block;
    position: relative;
    margin-top: 20px;
    margin-left: 52px;
    padding: 14px 36px;
    background: #FFFFFF;
    border: 1px solid #373867;
    border-radius: 5px;
    color:#373867;
    cursor: pointer;
}
.our-history img {
    position: absolute;
    width: 1094px;
    height: 765px;
    left: 47px;
    top: 126px;
    z-index: 0;
}
.our-history h2 {
    position: relative;
    padding-top: 48px;
    padding-bottom: 19px;
    margin-left: 57px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}
.our-history p {
    position: relative;
    width: 804px;
    height: 322px;
    left: 198px;
    top: 250px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;
    color: #FFFFFF;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}
.activities-membership h2 {
    margin-left: 99px;
    padding-top: 48.5px;
    padding-bottom: 25px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color:#373867;
    font-style: normal;
}
.membership-info {
    padding-bottom: 50px;
    margin-bottom: 100px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}
.membership-list-position {
    padding-top: 20px;
}
#membership-types {
    width: 400px;
    margin-bottom: 19px;
    margin-left: -81.26px;
    color:#000000;
}
#left-list p {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 80px;
}
#left-list li {
    margin-left: 99px;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
}
#left-list li img {
    padding-right: 87px;
}
#membership-types-display {
    position: relative;
    margin-left: 715px;
    margin-top: -920px;
}
.icons {
    position: absolute;
    margin-left: 633.74px;
    margin-top: -750px;
}
.icons img {
    padding-bottom: 225px;
}
footer {
    height: 118px;
    margin-bottom: 0;
    margin-right: 0;
    margin-left:20vw;
    background-color: #373867;
    color:#000000;
}
footer img {
    position: relative;
    padding-right: 20px;
    margin-top: 20px;
    width: 6.5%;
    float: right;
}
#gmail-icon {
    padding-top: 15px;
}
footer p {
    position: absolute;
    width: 526px;
    padding-top: 38px;
    margin-left: 58px;
    margin-top: 10px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
}
