<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../css/reset.css">
        <link rel="stylesheet" type="text/css" href="../css/styles.css">
        <link rel="stylesheet" type="text/css" href="../css/signup.css">
        <title>Mega Rocket S.A | Sign Up</title>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body class="signup-body flex-container">
        <a href="index.html"><img src="../img/arrow-icon.png" class="return-arrow"></a>
        <div class="register-side flex-container">
            <img src="../img/Logo-Radium-Login.png" class="logo-radium-register">
            <form class="register-form flex-container">
                <div class="only-inputs flex-container">
                    <div class="desktop-display-columns">
                        <label for="name" class="register-label">Name</label>
                        <input type="text" id="name" class="" placeholder="First Name">
                        <label for="surname" class="register-label">Surname</label>
                        <input type="text" id="surname" class="" placeholder="Surname">
                        <label for="dni" class="register-label">D.N.I</label>
                        <input type="text" id="dni" class="" placeholder="99.999.999">
                        <label for="date-of-birth" class="register-label">Date Of Birth</label>
                        <input type="date" id="date-of-birth" class="" placeholder="dd/mm/yyyy">
                        <label for="phone" class="register-label">Phone Number</label>
                        <input type="text" id="phone" class="" placeholder="0341 0000000">
                        <label for="phone-second" class="register-label">Another Phone Number</label>
                        <input type="text" id="phone-second" class="" placeholder="0341 0000000">
                    </div>
                    <div class="desktop-display-columns">
                        <label for="adress" class="register-label">Adress</label>
                        <input type="text" id="adress" class="" placeholder="ExampleStreet 123">
                        <label for="city" class="register-label">City</label>
                        <input type="text" id="city" class="" placeholder="YourCity">
                        <label for="postal-code" class="register-label">Postal Code</label>
                        <input type="text" id="postal-code" class="" placeholder="2000">
                        <label for="email" class="register-label">Email</label>
                        <input type="text" id="email" class="" placeholder="youremail@example.com">
                        <label for="register-password" class="register-label">Password</label>
                        <input type="text" id="register-password" class="" placeholder="********">
                        <label for="repeat-register-password" class="register-label">Repeat Password</label>
                        <input type="text" id="repear-register-password" class="" placeholder="********">
                    </div>
                </div>
                <label for="accept-conditions" class="register-label terms-conditions">Accept terms and conditions?<input type="checkbox" id="accept-conditions"></label>
                <input type="submit" value="Register" class="register-button">
            </form>
            <a href="login.html" class="to-login-link">Already have an account? Log in</a>
        </div>
        <div class="desktop-register-image flex-container hide-tablet">
            <img src="../img/logo-radium-2.png" class="radium-desktop-logo">
        </div>
    </body>