@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;400&display=swap');
body{
    font-family: 'Roboto', Arial, Helvetica;
    color: #373867;
    z-index: 3;
}
.flex-container{
    display: flex;
}
.display-header-main-footer{
    flex-direction: column;
}
.hide-mobile{
    display: none;
}
h1, h2{
    text-transform: uppercase;
}
.section-space{
    width: 100vw;
    height: 100vh;
}
#section-small-first{
    height: 89.6vh;
}
.color-line{
    display: none;
}
@media screen and (min-width: 481px){
    .section-space{
        width: 78vw;
    }
    .hide-mobile{
        display: block;
    }
    .display-header-main-footer{
        justify-content: flex-end;
        width: 78vw;
    }
}
@media screen and (min-width: 769px){
}
@media screen and (min-width: 1025px){
    .section-space{
        width: 80vw;
    }
    .color-line{
        display: block;
        margin: auto;
        width: 80%;
        height: 0.75vh;
        background: #373867;
    }
    #section-small-first{
        height: 86.25vh;
    }
    .display-header-main-footer{
        width: 80vw;
    }
}